@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-atkinson);
    --font-lastik: var(--font-lastik);
    --font-instrument: var(--font-instrument-serif);
    --font-display: var(--font-lastik);

    --color-ct-primary: var(--ct-primary);
    --color-ct-secondary: var(--ct-secondary);
}

/* Light Mode (flipped: Dark Text, Light BG) */
:root {

    --ct-primary: rgb(255, 237, 163);
    --ct-secondary: rgb(16, 0, 55);
}

/* Dark Mode (original: Light Text, Dark BG) */
.dark {
    --ct-primary: rgb(16, 0, 55);
    --ct-secondary: rgb(255, 237, 163);
}

body {
    background-color: var(--color-ct-secondary);
    color: var(--color-ct-primary);
}